div{
    display: block;
    top: 25px;
    left: 450px;
    padding: 15px;
    height:auto;
    width: auto;
    color: red;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid red;
}
