div{
    display: block;
    padding: 15px;
    margin: 0px;
    color: red;
    text-decoration: none;
    font-size: 22px;
    outline: 1px solid red;
}
h1{
    color: red;
    padding: 15px;
}
